html { scroll-behavior: smooth; }
body {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-image: url('photo-header.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 3rem);
    margin:0;
    padding:0;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
header #header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    margin-top: 10vh;
}
header img {
    max-width: 200px;
    max-height: 200px;
    filter: drop-shadow(0 0 .3em #000);
}
header .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: #000 0 0 .5em;
}
header h1 { margin: auto 0 0; text-transform: uppercase; }
header p { margin-top: .5em; }

@media only screen and (max-width: 750px) { #header-content { flex-direction: column; } }

nav {
    --nav-height: 3rem;
    /*height: var(--nav-height);*/
    background-color: #333;
    /*position: sticky;*/
    /*top: 0;*/
}
nav div {
    max-width: 90ch;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}
nav div a {
    color: white;
    text-decoration: none;
    line-height: var(--nav-height);
    flex-grow: 1;
    font-size: 1.2em;
    text-align: center;
    /*width: 20%;*/
}
@media only screen and (max-width: 750px) { nav div a { width: 25%; } }
@media only screen and (max-width: 610px) { nav div a { width: 30%; } }
nav div a:hover {
    /*font-weight: bold;*/
    color: #AAAAFF;
    text-decoration: underline;
}

.container {
    font-size: 1.2em;
    padding: 20px;
    line-height: 1.4;
}

section {
    max-width: 70ch;
    margin: 0 auto;
    padding: 50px 20px;
    /*border-bottom: 1px solid #ddd;*/
}

section.with-images {
    display: flex;
    max-width: 100ch;
    column-gap: 1em;
    align-items: center;
}
section.with-images .text { width: 70%; }
section.with-images .imgs { width: 30%; }
section.with-images .imgs img { width: 100%; }

@media only screen and (max-width: 600px) {
    section.with-images {
        flex-wrap: wrap;
    }
    section.with-images .text, section.with-images .imgs {
        width: 100%;
    }
    section.with-images .imgs {
        display: flex;
        column-gap: 4px;
        align-items: center;
    }
}

section#lmt-conclusion {
    max-width: 120ch;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#lmt-conclusion p {
    max-width: 70ch;
}

section#lmt-conclusion .imgs {
    margin-top: 1.5em;
    display: flex;
    max-width: 120ch;
    column-gap: .5em;
    align-items: center;
}
section#lmt-conclusion .imgs img {
    width: 25%;
    flex-shrink: 1;
    height: auto;
}
@media only screen and (max-width: 600px) {
    section#lmt-conclusion .imgs {
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 10px;
        row-gap: 10px;
    }
    section#lmt-conclusion .imgs img {
        width: 40%;
    }
}

hr {
    height: 1px;
    background: #ddd;
    border: 0;
    max-width: 70ch;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
